.Card-Container{
    background-color: white;
    border: 1px solid snow;
    border-radius: 10px;
    width: 380px;
    box-shadow: 0 0 10px rgba(81, 80, 80, 0.5);
    padding: 15px;  
    margin-top: 20px;  

    .title-row {
        display: flex;
        align-items: center;
        gap: 10px;

        .status-icon {
            display: flex;
            // justify-content: center;
            align-items: center;
            height: 20px;
        }
    }
}

.card-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .Card-Id{
        color: rgb(74, 74, 74);
        font-size: large;
    }

    .profile{
        position: relative;

        .initials{
            background-color: black;
            font-weight: bold;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            border-radius: 100%;
            aspect-ratio: 1/1;
        }

        .availability{
            height: 12px;
            aspect-ratio: 1/1;
            position: absolute;
            border-radius: 100%;
            bottom: -4px;
            right: -4px;
            background-color: grey;
            border: 2px white solid;

            &.available{
                background-color: green;
            }
        }
    }
}

.title-row{
    font-size: larger;
    margin-top: 10px;
}

.Card-Tag{
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;

    .icon{
        height: 20px;
        border-radius: 2px;
        padding: 2px;
        box-shadow: 0 0 2px grey;
    }
}

.Card-Tag>span{
    border: 1px solid rgb(218, 218, 218);
    border-radius: 2px;
    margin-right: 10px;
    padding: 4px;
}